html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $josefin;
  background: #ffffff;
}

.lnading-wrapper {
  background: url(../assets/images/_F2A7253.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;

  .container {
    .row {
      .col-md-8 {
        .left-side {
          // padding-bottom: 10px;

          @media (max-width: 375px) {
            padding-bottom: 10px;
          }

          .top {
            margin-bottom: 50px;

            @media (max-width: 1199px) {
              // margin-bottom: 150px;
            }

            @media (max-width: 991px) {
              // margin-bottom: 120px;
            }

            @media (max-width: 767px) {
              text-align: center;
              margin-bottom: 80px;
            }

            @media (max-width: 375px) {
              // margin-bottom: 50px;
            }

            img {
              padding-top: 30px;

              @media (max-width: 767px) {
                width: 100px;
              }
            }
          }

          .middle {
            h1 {
              color: $white;
              font-size: 70px;
              font-weight: 700;
              margin-bottom: 30px;
              text-transform: uppercase;

              @media (max-width: 1199px) {
                font-size: 60px;
                margin-bottom: 0px;
              }

              @media (max-width: 991px) {
                font-size: 40px;
                // margin-bottom: 10px;
              }

              @media (max-width: 767px) {
                text-align: center;
                margin-bottom: 20px;
              }

              @media (max-width: 430px) {
                font-size: 30px;
              }

              @media (max-width: 330px) {
                font-size: 29px;
              }
            }

            p {
              color: $white;
              font-size: 50px;
              font-weight: 300;
              margin: 0;

              @media (max-width: 1199px) {
                font-size: 40px;
              }

              @media (max-width: 991px) {
                font-size: 25px;
                // margin-bottom: 10px;
              }

              @media (max-width: 767px) {
                text-align: center;
                margin-bottom: 20px;
              }

              @media (max-width: 430px) {
                font-size: 22px;
                margin-bottom: 0px;
              }

              span {
                font-weight: 600;
              }
            }

            .playstore-link {
              margin-bottom: 40px;

              @media (max-width: 991px) {
                margin-bottom: 30px;
              }

              ul {
                padding: 0;

                @media (max-width: 767px) {
                  text-align: center;
                }

                li {
                  list-style-type: none;
                  display: inline-block;

                  @media (max-width: 375px) {
                    margin-bottom: 20px;
                  }

                  a {
                    img {
                      width: 100%;

                      @media (max-width: 1199px) {
                        width: 250px;
                      }

                      @media (max-width: 991px) {
                        width: 170px;
                      }
                    }
                  }
                }

                .mymargin {
                  margin-right: 50px;

                  @media (max-width: 991px) {
                    margin-right: 20px;
                  }

                  @media (max-width: 400px) {
                    margin-right: 0px;
                  }
                }
              }
            }
          }

          .bottom {
            ul {
              padding: 0;

              @media (max-width: 767px) {
                text-align: center;
              }

              li {
                list-style-type: none;
                display: inline-block;

                a {
                  text-align: center;
                  padding-right: 30px;

                  @media (max-width: 375px) {
                    padding-right: 10px;
                  }

                  img {
                    transition: 0.2s ease;

                    &:hover {
                      opacity: 80%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .col-md-4 {
        .right-side {
          padding-bottom: 0px;

          @media (max-width: 767px) {
            display: none;
            padding-bottom: 0px;
          }

          img {
            // position: absolute;
            // left: -300px;
            // width: 1440px;
            width: 100%;
            padding-top: 20px;
            @media (max-width: 991px) {
              padding-top: 50px;
            }

            @media (max-width: 767px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
